<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>149570696942-17t3l1fdb47v2egd6b7ktfqu9h11os44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.149570696942-17t3l1fdb47v2egd6b7ktfqu9h11os44</string>
	<key>API_KEY</key>
	<string>AIzaSyCl6GXPSP89ucjw9m_wRuRIljhFz9mFRIs</string>
	<key>GCM_SENDER_ID</key>
	<string>149570696942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assessment</string>
	<key>PROJECT_ID</key>
	<string>assessment-c15f0</string>
	<key>STORAGE_BUCKET</key>
	<string>assessment-c15f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149570696942:ios:7bf841b5512f01d66ce5ff</string>
</dict>
</plist>